%table.table.table-striped
  %thead
    %tr
      %th= ham(:user, :name)
      %th= ham(:user, :state)
      %th= ham(:user, :created_at)
  %tbody
    - @users.each do |u|
      %tr
        %td= link_to u, user_path(u.login)
        %td= u.human_state_name
        %td= l u.created_at

= paginate @users
