= simple_form_for @user, url: users_path(params.extract(:from)),
  html: { class: 'form-horizontal'} do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :password
  = f.input :accept_agreement, as: :boolean

  = f.button :submit
