.navbar.navbar-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="/") Habrahabr
      .container.nav-collapse
        %ul.nav
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"
        %ul.nav.pull-right
          - if signed_in?
            %li= link_to t('.sign_out'), session_path, method: :delete
          - else
            %li= link_to t('.sign_in'), new_session_path
            %li= link_to t('.sign_up'), new_user_path
