!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "promo", media: "all"
    = csrf_meta_tags
    %title= t('application.name')
  %body
    .container
      = render 'layouts/web/shared/navbar'
      = bootstrap_flash
      - let yield :header do |header|
        - if header.present?
          %h2= header
      = yield

      = render 'layouts/web/shared/footer'
    = javascript_include_tag "promo"
