!!! 5
%html(lang="en")
  %head
    = render 'layouts/web/shared/head'
  %body
    = render 'layouts/web/shared/navbar'
    .container
      .row
        .col-md-9
          -#TODO = bootstrap_flash
          = yield
        .col-md-3
          .well.sidebar-nav
            - let yield :sidebar do |data|
              - if data.present?
                = data
              - else
                %b= t('.categories')
                %ul
                  - dict(:category).each do |h|
                    %li= link_to h



      = render 'layouts/web/shared/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
