!!! 5
%html(lang="en")
  %head
    = render 'layouts/web/shared/head'
  %body
    = render 'layouts/web/shared/navbar'
    .container
      .row
        .span9
          = render 'layouts/web/shared/main_menu'
          = if signed_in?
            = link_to t('.new_topic'), new_topic_path
          = bootstrap_flash
          = yield
        .span3
          .well.sidebar-nav
            -#TODO запилить фильтр по хабам и категориям
            -#TODO запилить прямой эфир
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"

      = render 'layouts/web/shared/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
