= link_to :by_social_network, sign_in_via_social_network_cpath(:developer)
= link_to t('.forgot_password'), new_password_path
= simple_form_for @session, url: session_path do |f|
  = f.input :email
  = f.input :password
  = f.button :submit
