!!! 5
%html(lang="en")
  %head
    = render 'layouts/web/admin/shared/head'
  %body
    .container
      = render 'layouts/web/admin/shared/navbar'
      = bootstrap_flash
      = yield

      = render 'layouts/web/admin/shared/footer'
    = javascript_include_tag "application"
